<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Code Block API</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="../static/favicon.png" rel="icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
  </head>

  <body>
    <div class="ui grid center aligned row" style="height: 100%; align-items:
    center ;background-image: url(../static/background.jpg)" !important;">
    <div class="twelve wide column">
      <h1 class="ui grey header">Build Code Blocks API</h1>
      <a href="#" class="ui white button">Register for API</a>
    </div>
  </body>
</html>
